<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
 
  <ion-segment [(ngModel)]="relationship" color="primary">
    <ion-segment-button value="all" (ionSelect)="selectedAll()">
      All
    </ion-segment-button>
    <ion-segment-button value="cat" (ionSelect)="selectedCat()">
      Categories
    </ion-segment-button>
  </ion-segment>
  
  <ion-list *ngIf="allParam">
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems | searchBy: arr: [val] ">
      <ion-avatar item-start>
        <img [src]="" />
      </ion-avatar>
      <h2>{{ item.title }}</h2>
      <p>{{ item.provider }}</p>
      <ion-note item-end *ngIf=""></ion-note>
    </button>
  </ion-list>

  <ion-list *ngIf="catParam">

<!-- TO BE CHANGED  -->

      <ion-segment [(ngModel)]="sub" color="primary" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="food">
            Food
          </ion-segment-button>
          <ion-segment-button value="clothing">
            Clothing
          </ion-segment-button>
          <ion-segment-button value="edu">
            Education
          </ion-segment-button>
          <ion-segment-button value="career">
            Career
          </ion-segment-button>
          <ion-segment-button value="health">
            Health
          </ion-segment-button>
      </ion-segment>
      
      <button ion-item (click)="openItem(item)" *ngFor="">
        <ion-avatar item-start>
          <img [src]="" />
        </ion-avatar>
        <h2></h2>
        <p></p>
        <ion-note item-end *ngIf=""></ion-note>
      </button>
  </ion-list>
</ion-content> 