page-usersubs {
    .title {
        font-size: 36px;
    }

    .orgpanel {
        .panel-default {
            .panel-heading{
                background-color: rgba(107, 156, 117, .35);
                height: 50px;

                .panel-title {
                    font-size: 25px;
                    text-align: center;
                    padding-top: 0;
                }
            }
        }

        .orginfo {
            text-align: center;
            font-size: 17px;
            color: rgb(107, 156, 117);
        }
    }
}
